* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  /* areas de variaveis */
   --text-color: white;
   --bg-url: url(./assets/bg-mobile..jpg);
   --stroke-color:rgba(255, 255, 255, 0.5);
   --surface-color:rgba(255, 255, 255, 0.2);
   --surface-color-hover:rgba(0, 0, 0, 0.2);
   --highligh-color:rgba(255, 255, 255, 0.05);
   --switch-bg-url: url(./assets/moon.stars.svg);
   
}

.light{

  --text-color: black; 
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color:rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highligh-color:rgba( 0, 0, 0, 0.05);
  --switch-bg-url: url(./assets/sun.svg);
}
body {
    /*
    background-image: url(./assets/bg-mobile.jpg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /*background: color image repeat position/size*/
    background:var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}
body *{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);

}
 #container{
   width: 100%;
   max-width: 588px;
   margin:56px auto 0px;
   padding:0 24px;
}

  /* profile */
  #profile{
    text-align:center;
    /*
     essa tag serve para centralizar a imagem.
    */
    padding: 24px;
    /*
    essa tag serve para dar o preenchimento na caixa entre o nome que esta abaixo da imagem e as guias de navegação 
    */
  }  

    #profile img {
    width: 112px;
  }
  #profile p{
     font-weight: 500;
     line-height: 24px;
     margin-top: 8px;
  }
  
   /* switch */
   #switch {
    width: 64px;
    position: relative;


    margin: 4px auto;
  
  }
    #switch button{
      
      width: 32px;
      height: 32px;
      background: white var(--switch-bg-url) no-repeat center;
      border:0;
      border-radius: 50%;


      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      transform: translateY(-50%);

      animation: slid-back 0.2s;

    }
   
    #switch span{
      display: block;
      width: 64px;
      height: 24px;
      background: var(--surface-color);    
       border: 1px solid var(--stroke-color);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 9999px;

    }

    .light  #switch button{
      animation: slid-in 0.2s forwards;

    }

    #switch button:hover{
      outline: 8px solid var(--highligh-color);

    }

    
  /* links*/
ul{
  list-style: none;
  /*
  retira os pontinhos de uma não ordenada
  */
  display: flex;
/*
torna os display flexivel para mudanças na caixa
*/
  flex-direction:column;
  /*
  ordena as guias como colunas
  */
  gap:16px;
  padding: 24px 0;
}
 
ul li a{

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  /*
  adiciona uma barda do valor que é colocado, no caso 8px.
  */


  backdrop-filter: blur(4px) ;
  /*
  colocaum desfoque na caixa.
  */
  -webkit-backdrop-filter: blur(4px);
/*
como alguns navegadores podem não reconhecer o comando acima, esse comando possibilita o reconhecimento.
*/ 
  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;

} 

ul li a:hover{

  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);

}
#social-links{
  display: flex;
  justify-content:center ;
  gap: 32px;
  font-size: 24px;
  padding:24px 0;
}
#social-links a {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition:  background 0.2s;
  border-radius: 50%;
}
#social-links a:hover{
  background: var(--highligh-color);
}

footer{
  padding: 24ps 0;
  text-align: center;
  font-size: 14px;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-dark.jpg);
  
  }
  .light{
    --bg-url: url(./assets/bg-light.jpg);
  }
}

/* animation */
@keyframes slid-in{
  from {
    left: 0;
  }
  to {
    left: 50%;
  } 
}

@keyframes slid-back{
  from {
    left:50%;
  }
  to {
    left: 0;
  }
}